{
    "parser": "babel-eslint",
    "extends": "react",
    "env": {
        "browser": true,
        "node": true,
        "jest": true
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "rules": {
        "space-before-function-paren": ["error", {
            "anonymous": "always",
            "named": "never",
            "asyncArrow": "always"
        }]
    }
}