.player-rect-bg {
    opacity: 0.62;
}

.player-react-stack-text {
    font-size: 29px;
    fill: #fff;
    font-family: Montserrat;
    font-weight: 700;
    text-anchor: middle;
}

.player-react-title-text {
    font-size: 20px;
    fill: #fff;
    font-family: Montserrat;
    text-anchor: middle;
}

.player-rect {
    position: absolute;
}

.player-card-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: -20%;
    z-index: -1;
}

.player-card-wrapper > .card-wrapper {
    width: 38%;
    margin: 0 -1.5%;
}